absl-py
aio-pika
aiohttp
aiormq
alabaster
anaconda-client
appdirs
asgiref
asn1crypto
astor
astroid
astropy
astunparse
async-timeout
atomicwrites
attrs
Automat
Babel
backcall
backports.shutil-get-terminal-size
bce-python-sdk
beautifulsoup4
bert-score
bitarray
bkcharts
blaze
bleach
blessings
blis
bllipparser
bokeh
boto
boto3
botocore
Bottleneck
brotlipy
cachetools
catalogue
certifi
cffi
cfgv
chardet
click
cloudpickle
clyent
colorama
constantly
contextlib2
cPython
cryptography
cycler
cymem
Cython
cytoolz
dask
datasets
datashape
DAWG-Python
decorator
deeppavlov
defusedxml
Deprecated
dill
distlib
distributed
Django
django-cors-headers
docopt
docutils
dominate
einops
entrypoints
et-xmlfile
fastapi
fastcache
filelock
flake8
Flask
Flask-Babel
Flask-Cors
flatbuffers
fsspec
funcsigs
future
fvcore
gast
gdown
gensim
gevent
glob2
gmpy2
google-auth
google-auth-oauthlib
google-pasta
gpustat
graphviz
greenlet
grpcio
h11
h5py
heapdict
html5lib
httptools
hyperlink
identify
idna
imageio
imagesize
importlib-metadata
incremental
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jdcal
jedi
jeepney
Jinja2
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-launcher
Keras-Applications
Keras-Preprocessing
keyring
kiwisolver
lazy-object-proxy
littleutils
llvmlite
locket
loguru
lxml
Markdown
MarkupSafe
matplotlib
mccabe
mistune
mkl-fft
mkl-random
mkl-service
mock
more-itertools
moverscore
mpmath
msgpack
multidict
multipledispatch
multiprocess
murmurhash
nbconvert
nbformat
netaddr
networkx
nltk
nodeenv
nose
notebook
numba
numexpr
numpy
numpydoc
nvidia-ml-py3
oauthlib
objgraph
odo
olefile
opencv-python
openpyxl
opt-einsum
outdated
overrides
packaging
paddlepaddle
paddlepaddle-gpu
pamqp
pandas
pandas-flavor
pandocfilters
parso
partd
path.py
pathlib
pathlib2
pathy
patsy
pep8
pexpect
pgl
portalocker
pre-commit
prefetch-generator
preshed
prettytable
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
py
py-readability-metrics
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycodestyle
pycorenlp
pycosat
pycparser
pycrypto
pycryptodome
pydantic
pyDeprecate
pydot
pyflakes
pyftpdlib
PyGithub
Pygments
PyJWT
pylint
pymongo
pymorphy2
pymorphy2-dicts
pymorphy2-dicts-ru
PyNaCl
pyodbc
pyOpenSSL
pyparsing
pyrouge
PySocks
pyTelegramBotAPI
pytest
pytest-arraydiff
pytest-astropy
pytest-doctestplus
pytest-openfiles
pytest-remotedata
python-dateutil
pytorch-lightning
pytorch-pretrained-bert
pytorch-transformers
pytz
PyWavelets
PyYAML
pyzmq
QtAwesome
qtconsole
QtPy
rarfile
redis
redis-py-cluster
regex
requests
requests-oauthlib
rope
rsa
ruamel.yaml
rusenttokenize
s3transfer
sacremoses
scikit-image
scikit-learn
scipy
seaborn
SecretStorage
Send2Trash
sentencepiece
service-identity
simplegeneric
simplejson
singledispatch
six
smart-open
snowballstemmer
sortedcollections
sortedcontainers
spacy
spacy-legacy
Sphinx
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
sqlparse
srsly
stanza
starlette
statsmodels
sympy
tabulate
tblib
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
tf-slim
Theano
thinc
thop
tifffile
tokenizers
toml
toolz
torchaudio
torchfile
torchmetrics
torchsummary
torchtext
torchvision
tornado
tqdm
traitlets
transformers==4.24.0
Twisted
typer
typing
typing-extensions
unicodecsv
urllib3
uvicorn
uvloop
virtualenv
visdom
visualdl
wasabi
wcwidth
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
xarray
xdg
xgboost
xlrd
XlsxWriter
xlwt
xxhash
yacs
yarl
zict
zipp
